.candidate-bkg,
.today-bkg {
  background: #eee;

  .container {

    .candidate,
    .today {

      .left-info,
      .right-info {
        height: 100vh;
      }

      .left-info {
        background: #222;
        text-align: center;
        padding-bottom: 40px;

        .left-back {
          background: #111;
          border-bottom: 1px solid #000;
          color: #666;
          cursor: pointer;
          font-size: 13px;
          font-weight: 600;
          padding: 21px 20px;
          text-align: center;

          span.oi {
            font-size: 10px;
          }

          &:hover {
            color: #999;
          }
        }

        .photo {
          background: #fff;
          @include border-radius(1000px);
          height: 80px;
          margin: 20px auto;
          width: 80px;
        }

        .name {
          color: #fff;
          font-size: 20px;
          font-weight: 600;
        }

        .left-block {
          text-align: left;
          margin-top: 40px;
          padding: 0 20px;

          .block-title {
            color: #999;
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 20px;
          }

          .block-link {
            color: #777;
            cursor: pointer;
            font-size: 14px;
            margin-bottom: 10px;

            &:hover {
              color: #ccc;
            }

            span.oi {
              font-size: 12px;
              margin-right: 10px;
            }
          }

          .block-doc-link {
            color: #777;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            text-align: center;
            padding: 0 20px;
            vertical-align: top;

            span.oi {
              display: block;
              margin-bottom: 5px;
            }

            &:hover {
              color: #ccc;
            }
          }
        }
      }

      .content {

        .content-header {
          border-bottom: 1px solid #ccc;
          color: #999;
          font-size: 13px;
          height: 60px;
          line-height: 60px;
          padding: 0 20px;


          > div:not(.header-action):not(.header-dropdown) {
            cursor: pointer;
            display: inline-block;
            margin-right: 40px;

            &:hover {
              color: #777;
            }
          }

          .tab-on {
            border-bottom: 1px solid palette(Blue, $shade: 600);
            color: palette(Blue, $shade: 600);
            font-weight: 600;

            &:hover {
              color: palette(Blue, $shade: 600) !important;
            }
          }

          .header-action {
            float: right;
            display: inline-block;

            span.oi {
              cursor: pointer;
              font-size: 11px;
            }

            &:hover {
              cursor: pointer;

              &:hover {
                color: #777;
              }
            }
          }
        }

        .content-posts {

          .content-post {
            border-bottom: 1px solid #ddd;
            padding: 20px 40px;

            > .author {
              display: inline-block;
              vertical-align: top;
              width: 15%;

              div {
                background: #ccc;
                @include border-radius(100px);
                height: 40px;
                margin: 0 auto 10px auto;
                width: 40px;
              }

              span {
                color: #777;
                display: block;
                font-size: 12px;
                font-weight: 600;
                width: 42px;
                text-align: center;
              }
            }

            > .content {
              display: inline-block;
              vertical-align: top;
              width: 85%;

              .content-main {

                > .content-top-bar {
                  background: transparent;
                  color: #999;

                  span.oi {
                    font-size: 10px;
                  }

                  span.interview-time {
                    float: right;
                  }

                  .interviewer {
                    display: inline-block;
                    font-size: 14px;
                    vertical-align: top;

                    .name {
                      color: #444;
                      font-weight: 600;
                      margin-bottom: 5px;
                    }

                    .position {
                      color: #999;
                    }
                  }

                  .interview-info {
                    color: #999;
                    float: right;
                    font-size: 12px;

                    .type {
                      margin-bottom: 5px;
                    }
                  }
                }

                .content-rating {
                  margin-top: 20px;
                  padding: 20px 0;

                  div {
                    display: inline-block;
                    vertical-align: top;
                    width: 20%;

                    span {
                      display: block;
                      font-size: 12px;
                      margin-bottom: 5px;
                    }

                    b {
                      display: block;
                      font-weight: 600;
                      font-size: 18px;
                    }
                  }
                }

                > .content-body {
                  color: #555;
                  font-size: 14px;
                  line-height: 22px;
                  margin: 20px 0 0 0;
                }
              }

              .post-comments {
                background: #e6e6e6;
                margin-top: 20px;

                .comment {
                  padding: 20px;
                  border-top: 1px solid #ddd;

                  > .author {
                    display: inline-block;
                    vertical-align: top;
                    width: 15%;

                    div {
                      background: #ccc;
                      @include border-radius(100px);
                      height: 40px;
                      margin: 0 0 10px 0;
                      width: 40px;
                    }

                    span {
                      color: #777;
                      display: block;
                      font-size: 12px;
                      font-weight: 600;
                      width: 40px;
                      text-align: center;
                    }
                  }

                  > .content {
                    display: inline-block;
                    vertical-align: top;
                    width: 85%;

                    > .content-top-bar {
                      color: #999;
                      font-size: 12px;

                      .commenter {
                        display: inline-block;
                        font-size: 13px;
                        vertical-align: top;

                        .name {
                          color: #444;
                          font-weight: 600;
                          margin-bottom: 5px;
                        }

                        .position {
                          color: #999;
                        }
                      }

                      .comment-time {
                        float: right;
                      }
                    }

                    > .content-body {
                      color: #555;
                      font-size: 13px;
                      line-height: 20px;
                      padding: 20px 0 0 0;
                    }
                  }
                }

                .comment-path {
                  display: none;
                  height: 20px;
                  border-left: 1px solid #ccc;
                  margin: 20px;
                }
              }
            }
          }
        }
      }

      .right-info {
        background: #e6e6e6;
        // border-left: 1px solid #ddd;
        padding: 20px;

        .right-block {
          margin-bottom: 40px;

          .block-title {
            color: #777;
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 20px;
          }

          .block-body {
            color: #999;
            font-size: 13px;

            span {
              display: block;
              margin-bottom: 5px;
            }
          }

          .block-desc {
            color: #999;
            font-size: 13px;
            margin-bottom: 20px;
          }

          .block-button {
            width: 100%;
          }

          .flow {
            .event {
              color: #999;

              .date {
                display: inline-block;
                font-size: 12px;
                text-align: center;
                vertical-align: top;
                width: 10%;
              }

              .title {
                display: inline-block;
                font-size: 12px;
                margin-left: 10%;
                width: 80%;
                vertical-align: middle;

              }
            }
            .path {
              height: 30px;
              border-left: 1px solid #ccc;
              margin: 10px;
            }

            .future-event {
              color: palette(Teal, $shade: 500);
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
