.header {
  background: #fff;
  height: $header-height;
  line-height: $header-height;
  padding: 0 20px;
  z-index: 100;

  .logo {
    height: 60px;
    transform: translate(-50%, 0);
    position: absolute;
    left: 50%;
    top: 3px;

    img {
      height: 20px;
    }
  }

  .tab {
    color: #999;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: 500;
    line-height: $header-height;
    margin-right: 40px;

    &:hover {
      color: #666;
    }
  }

  .tab-on {
    border-top: 2px solid #222;
    color: #222;
    line-height: 58px;
    font-weight: 600;

    &:hover {
      color: #222;
    }
  }

  .user-info,
  .logout {
    color: #999;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    line-height: $header-height - 1px;
    margin-left: 40px;

    span {
      font-size: 10px;
    }

    &:hover {
      color: #666;
    }
  }

  // .logout {
  //
  //   &:hover {
  //     color: palette(Red, $shade: 400);
  //   }
  // }
}
