.process-bkg {
  background: #eee;

  .container {

    .process {

      .column-header {
        background: #222;
        border-right: 1px solid #111;
        height: 20px;
        line-height: 20px;
        padding: 15px 20px;
        position: relative;

        a {
          color: #999;
          font-size: 13px;
          font-weight: 500;

          &:hover {
            border-bottom: 1px dotted #999;
            color: #ccc;
          }

          b {
            font-weight: 600;
            margin-left: 10px;
          }
        }
      }

      .column-sub-header {
        background: #444;
        border-right: 1px solid #333;
        border-bottom: 1px solid #333;
        display: block;
        height: 23px;
        padding: 6px 20px 8px 20px;
        position: relative;

        .column-header-filter {
          color: #999;
          cursor: pointer;
          display: inline-block;
          font-size: 12px;

          &:hover {
            color: #ccc;
          }

          span {
            font-size: 8px;
            margin-left: 5px;
          }
        }

        .pull-right {
          margin-top: 3px;
        }

        .column-dropdown {
          background: rgba(255, 255, 255, 1);
          @include box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.3));
          color: #444;
          display: none;
          font-size: 11px;
          position: absolute;
          left: 20px;
          top: 10px;
          z-index: 100;

          div {
            cursor: pointer;
            padding: 10px 15px;

            &:hover {
              background: #eee;
              color: #222;
            }

            b {
              float: right;
              font-weight: 600;
              margin-left: 20px;
            }
          }
        }
      }

      .search-header {
        background: #111;
        height: 50px;
        padding: 0 !important;

        span {
          color: #666;
          font-size: 12px;
          line-height: 40px;
          padding: 0 20px;
        }

        input {
          background: transparent;
          border: none;
          color: #666;
          font-size: 13px;
          height: 50px;
        }
      }

      .column {
        border-right: 1px solid #ddd;
        height: 100vh;

        .card {
          background: #eee;
          border-bottom: 1px solid #ddd;
          cursor: pointer;
          font-size: 12px;
          padding: 10px 20px;

          &:hover {
            background: #e6e6e6;
          }

          .card-contact {
            display: inline-block;

            > div {
              margin-bottom: 3px;
            }

            .card-name {
              color: #222;
            }

            .card-pos {
              color: #999;
            }

            .card-email {
              color: palette(Blue, $shade: 500);
            }
          }
        }

        .on {
          background: #e6e6e6 !important;
          // border-left: 5px solid palette(Blue, $shade: 700);
          position: relative;

          .on-append {
            display: inline-block;
            height: 59px;
            left: 100px;
            position: absolute;
            width: 300px;
            vertical-align: top;
            top: 0;
            z-index: 10;

            > a,
            > span {
              background: #fff;
              @include border-radius(100px);
              @include box-shadow(1px, 2px, 2px, rgba(0, 0, 0, 0.1));
              cursor: pointer;
              font-size: 12px;
              line-height: 59px;
              margin-left: 20px;
              padding: 7px 10px;

              &:hover {
                background: #222;
                @include box-shadow(1px, 2px, 2px, rgba(0, 0, 0, 0.3));
                color: #eee;
              }
            }
          }
        }

        .add-card {
          @include border-radius(4px);
          color: palette(Blue, $shade: 600);
          cursor: pointer;
          font-size: 13px;
          font-weight: 600;
          padding: 10px 20px;
          margin: 10px;
          text-align: center;

          &:hover {
            background: #e6e6e6;
            color: palette(Blue, $shade: 700);
          }

          span {
            font-size: 9px;
            margin-right: 8px;
          }
        }
      }

      .candidates-column,
      .phone-column,
      .onsite-column {

        .additional-info {

          > div {
            margin-left: 30px;
          }
        }

        .additional-info,
        .upcoming-event {
          display: inline-block;
          height: 38px;
          float: right;
          width: 100px;
          vertical-align: top;

          span.oi {
            color: #222;
            display: inline-block;
            height: 38px;
            line-height: 38px;
            margin-right: 15px;
            vertical-align: top;
          }

          .reviewed {
            margin: 0;
          }

          > div {
            display: inline-block;
            height: 35px;

            > span {
              display: block;

            }

            .date {
              color: palette(Red, $shade: 300);
            }

            .date-subtext {
              color: #555;
              margin-bottom: 3px;
            }

            .date-ago {
              color: #999;
            }

            .date-ago-review,
            .date-ago-follow-up {
              border-bottom: 1px dotted transparent;
              color: palette(Blue, $shade: 600);
              cursor: pointer;
              display: inline-block;
              margin-bottom: 2px;

              &:hover {
                border-bottom-color: palette(Blue, $shade: 500);
                color: palette(Blue, $shade: 700);
              }
            }

            .schedule {
              color: palette(Blue, $shade: 600);
              cursor: pointer;
              margin: 10px 0 0 30px;
              vertical-align: top;

              &:hover {
                border-bottom: 1px dotted palette(Blue, $shade: 500);
                color: palette(Blue, $shade: 700);
              }
            }
          }
        }
      }

      .search-column {
        background: #e6e6e6;
        color: #999;
        font-size: 14px;
        line-height: 24px;
        padding: 20px;
        text-align: center;
      }
    }
  }
}
