.today-bkg {
  background: #eee;

  .container {

    .today {

      .left-nav {
        background: #222;
        height: 100vh;
        padding-bottom: 40px;

        .left-add {
          background: #111;
          border-bottom: 1px solid #000;
          color: #666;
          cursor: pointer;
          font-size: 13px;
          font-weight: 600;
          padding: 21px 20px;
          text-align: center;

          span.oi {
            font-size: 10px;
          }

          &:hover {
            color: #999;
          }
        }

        .left-filler {
          background: #111;
          border-bottom: 1px solid #000;
          height: 60px;
        }

        .left-title {
          color: #999;
          font-size: 14px;
          font-weight: 600;
          padding: 20px 20px 10px 20px;

          b {
            float: right;
            font-weight: 600;
          }
        }

        .left-separator {
          border-top: 1px solid #333;
          margin: 10px 0;
        }

        .left-tab {
          border-left: 2px solid transparent;
          color: #666;
          cursor: pointer;
          font-size: 13px;
          padding: 10px 20px 10px 18px;

          b {
            float: right;
            font-weight: 600;
          }

          &:hover {
            background: #2c2c2c;
            color: #999;
          }
        }

        .left-sub-tabs {
          background: #333;
          color: #777;
          cursor: pointer;
          font-size: 13px;

          .left-sub-tab {
            padding: 10px 20px 10px 40px;

            b {
              float: right;
              font-weight: 600;
            }

            &:hover {
              background: #3c3c3c;
              color: #ddd;
            }
          }
        }

        .left-checkgroup {
          font-size: 13px;
          color: #666;
          padding: 10px 20px;

          div {
            cursor: pointer;
            margin-bottom: 10px;

            span {
              font-size: 12px;
            }

            &:hover {
              color: #999;
            }
          }
        }

        .tab-closed {
          display: none;
        }

        .tab-on {
          background: #444;
          border-left-color: palette(Blue, $shade: 600);
          color: #eee;
          font-weight: 600;

          &:hover {
            background: #444;
            color: #eee;
          }
        }
      }

      .content {

        .content-header {

          .header-select {
            cursor: pointer;
            display: inline-block;
            float: left;
            margin-left: 13px;

            .select-box {
              border: 2px solid #bbb;
              display: inline-block;
              height: 10px;
              width: 10px;
              margin: 22px 10px 0 0;
            }

            span {
              font-size: 10px;
              float: right;
              margin-top: 1px;
            }

            &:hover .select-box {
              border-color: #888;
            }
          }

          .header-filter {
            color: #999;
            cursor: pointer;
            display: inline-block;
            margin-right: 50px !important;
            position: relative;

            &:hover {
              color: palette(Blue, $shade: 50);
            }

            span {
              font-size: 10px;
            }
          }

          .header-dropdown {
            background: rgba(255, 255, 255, 1);
            @include box-shadow(0, 0, 5px, rgba(0, 0, 0, 0.2));
            color: #444;
            display: none;
            font-size: 13px;
            position: absolute;
            left: 0px;
            line-height: normal;
            top: 15px;
            width: 150px;
            z-index: 100;

            div:first-child {
              padding: 10px;
            }

            div {
              cursor: pointer;
              padding: 10px 10px 9px 10px;

              &:hover {
                background: #eee;
                color: #222;
              }

              b {
                float: right;
                font-weight: 600;
              }
            }
          }
        }

        .view-info {
          background: palette(Blue, $shade: 600);
          padding: 20px;
          position: relative;

          .view-title {
            color: #fff;
            display: inline-block;
            font-size: 13px;
            font-weight: 700;
            margin-right: 20px;
          }

          .view-desc {
            color: palette(Blue, $shade: 100);
            display: inline-block;
            font-size: 13px;
          }

          span.oi {
            color: palette(Blue, $shade: 100);
            font-size: 14px;
            position: absolute;
            right: 20px;
            top: 22px;
          }
        }

        .content-tasks {

          .task {
            border-bottom: 1px solid #ddd;
            padding: 20px;

            // &:hover {
            //   background: #ddd;
            // }

            .task-type {
              display: inline-block;
              vertical-align: top;

              .task-icon {
                display: inline-block;
                vertical-align: top;

                span {
                  @include border-radius(100px);
                  display: inline-block;
                  padding: 10px 13px;
                }
              }

              .task-time {
                display: inline-block;
                margin-left: 20px;
                vertical-align: top;

                span.absolute {
                  color: #444;
                  display: block;
                  font-size: 14px;
                  font-weight: 600;
                  margin-bottom: 3px;
                }

                span.relative {
                  color: palette(Red, $shade: 400);
                  display: block;
                  font-size: 14px;
                }
              }
            }

            .task-info {
              color: #999;
              float: right;
              font-size: 14px;
              margin-left: 0px;
              width: 160px;

              div {
                margin-bottom: 5px;
                text-align: right;

                span.oi {
                  font-size: 12px;
                }
              }

              .status {
                color: #666;
              }
            }

            .task-arrow {
              color: #999;
              display: inline-block;
              height: 42px;
              text-align: center;
              width: 100px;

              span.oi {
                line-height: 42px;
              }
            }

            .task-body {
              display: inline-block;
              vertical-align: top;

              .body-icon {
                background: #bbb;
                @include border-radius(100px);
                display: inline-block;
                height: 42px;
                width: 42px;
                margin-right: 20px;
                vertical-align: top;
              }

              .body-info {
                display: inline-block;
                font-size: 14px;
                vertical-align: top;

                span {
                  display: block;
                }

                .title {
                  border-bottom: 1px dotted transparent;
                  color: #444;
                  display: block;
                  font-weight: 600;
                  margin-bottom: 4px;

                  &:hover {
                    //- border-bottom-color: #666;
                    color: #222;
                  }
                }

                .info {
                  color: #999;
                }
              }
            }

            .task-eval {
              display: inline-block;
              margin-left: 40px;
              vertical-align: top;

              .eval {
                display: inline-block;
                margin-right: 0px;
                vertical-align: top;

                .eval-score {
                  background: palette(Teal, $shade: 500);
                  @include border-radius(100px);
                  color: palette(Teal, $shade: 50);
                  font-weight: 600;
                  display: inline-block;
                  padding: 10px 12px;
                  vertical-align: top;
                }
              }
            }

            .task-action {
              display: inline-block;
              float: right;
              vertical-align: top;

              button {
                margin-left: 40px;
                padding: 10px 20px;

                span.oi {
                  font-size: 10px;
                }
              }

              .btn-flat.btn-blue:hover {
                background: #ddd;
              }

              .btn-delete {
                color: #999;
                padding-left: 0;
                padding-right: 0;

                span.oi {
                  float: left;
                  font-size: 10px;
                  margin-right: 10px;
                  margin-top: 2px;
                }

                &:hover {
                  color: palette(Red, $shade: 400);
                }
              }
            }
          }
        }
      }

      .view-a {
        display: block;
      }

      .view-b,
      .view-c,
      .view-d,
      .view-e,
      .view-f {
        display: none;
      }

      .right-info {
        background: #e6e6e6;
        height: 100vh;
        padding: 20px;

        .today-block {
          color: #222;
          font-size: 14px;
          text-align: center;

          span {
            display: block;
            margin-bottom: 5px;
          }

          span.time {
            font-weight: 600;
          }

          span.date {
            color: #999;
          }
        }

        .right-block {

          .flow {
            .event {
              color: #999;

              .date {
                display: inline-block;
                font-size: 12px;
                text-align: center;
                vertical-align: top;
                width: 10%;
              }

              .title {
                display: inline-block;
                font-size: 12px;
                margin-left: 10%;
                width: 80%;
                vertical-align: middle;

              }
            }
            .path {
              height: 30px;
              border-left: 1px solid #ccc;
              margin: 10px;
            }

            .future-path {
              border-left-color: palette(Teal, $shade: 300);
            }

            .current-event {
              color: palette(Teal, $shade: 500);
              font-weight: 600;
            }

            .future-event {
              color: palette(Teal, $shade: 400);
              font-weight: 500;
            }
          }

          .activity-chunk {
            cursor: pointer;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-left: -20px;
            padding-left: 20px;
            // border-top: 1px solid #d6d6d6;
            width: calc(100% + 20px);

            &:hover {
              background: #ddd;
            }

            &:hover .body {
              color: #444;

              a {
                border-bottom-color: palette(Blue, $shade: 300);
                color: palette(Blue, $shade: 500);

                &:hover {
                  border-bottom-color: palette(Blue, $shade: 400);
                  color: palette(Blue, $shade: 700);
                }
              }
            }

            &:hover .time {
              color: #777;
            }

            .body {
              color: #777;
              font-size: 13px;
              padding-right: 20px;

              a {
                border-bottom: 1px dotted #999;
                color: #444;
              }
            }

            .time {
              color: #999;
              font-size: 12px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
