.right-block
  .block-title Recent Activity
  .activity-chunk
    .time 1 min
    .body Michael posted <a href=''>Jon Snow</a>'s phone evaluation
  .activity-chunk
    .time 2 min
    .body Claire scheduled an interview for <a href=''>Gloria Pritchett</a> on Feb. 1st
  .activity-chunk
    .time 5 min
    .body Claire extended an offer to <a href=''>Don Draper</a>
  .activity-chunk
    .time 15 min
    .body Arya commented on <a href=''>Linsday Bluth</a>'s onsite evaluation.
