.header(data-intro='This is the application header.  The selected tab on the left is the current view.')
  //- a.tab.tab_1(href='/') Overview
  a.tab.tab_4(href='/candidates') Candidates
  a.tab.tab_2(href='/today/hr') My Tasks

  a.logo()
    img(src='../assets/images/addepar.png')

  .pull-right.logout
    | Logout
    //- span.oi(data-glyph='arrow-right')
    
  .pull-right.user-info
    span.oi.oi-l(data-glyph='cog')
    | Claire Dunphy
