.review-modal.modal
  .modal-nav-bar
    div
      span.oi(data-glyph='chevron-left')
      | Luke Dunphy
    div.pull-right
      | Gob Bluth
      span.oi(data-glyph='chevron-right')
  .modal-review-header
    .candidate-info
      .photo
      .candidate-personal
        span.name Gloria Pritchett
        span.position Product Manager
    .candidate-actions
      button.btn-flat.btn-gray 
        span.oi.oi-l(data-glyph='x')
        | Reject
      button.btn-flat.btn-gray
        span.oi.oi-l(data-glyph='box')
        | Save for later
      button.btn-bkg.btn-blue 
        | Advance to phone interview
        span.oi.oi-r(data-glyph='arrow-thick-right')
  .modal-viewing
    .modal-side-nav
      textarea Add Feedback
      //-.img-title Resume
    .modal-doc-view
      img(src='../assets/images/document.png')

.add-modal.modal
  .modal-title Add New Candidate
  .modal-section
    .modal-subtitle Personal Info
    input(type='text', placeholder='First name')
    input(type='text', placeholder='Last name')
    input(type='text', placeholder='Email')
    input(type='text', placeholder='Phone number')
  .modal-section
    .modal-subtitle Position
    input.display-block(type='text', placeholder='Position applied for')
    input.display-block(type='text', placeholder='Position department')
  .modal-section
    .modal-subtitle Application Materials
    button.btn-bkg.btn-gray Upload Resume
    button.btn-bkg.btn-gray Upload Recommendation
    input(type='text', placeholder='Portfolio link')
      
  .modal-actions
    button.btn-flat.btn-blue Cancel
    button.btn-flat.btn-blue Add

.schedule-modal.modal
  .modal-title Schedule Interview
  .modal-section
    .modal-subtitle Date
    .modal-calendar
      //-.table-year
        span.oi(data-glyph='caret-left')
        | 2014
        span.oi(data-glyph='caret-right')
      .table-month 
        span.oi(data-glyph='caret-left')
        | December
        span.oi(data-glyph='caret-right')
      table
        tr.table-header
          td S
          td M
          td T
          td W
          td T
          td F
          td S
        tr
          td.gray 27
          td.gray 28
          td.gray 29
          td.gray 30
          td.gray 31
          td 1
          td 2
        tr
          td 3
          td 4
          td 5
          td 6
          td 7
          td 8
          td 9
        tr 
          td 10
          td 11
          td 12
          td 13
          td 14
          td 15
          td 16
        tr
          td 17
          td 18
          td 19
          td 20
          td 21
          td 22
          td 23
        tr
          td 24
          td 25
          td 26
          td 27
          td 28
          td 29
          td 30
        tr
          td 31
          td.gray 1
          td.gray 2
          td.gray 3
          td.gray 4
          td.gray 5
          td.gray 6
  .modal-section
    .modal-subtitle Time
    input.modal-set-time(value='8:00 AM')
    span.oi.modal-set-time-arrow(data-glyph='caret-bottom')
      
    .modal-subtitle Interviewer
    input.modal-choose-interviewer(value='Michael Bluth')
    span.oi.modal-choose-interviewer-arrow(data-glyph='caret-bottom')
        
  .modal-actions
    button.btn-flat.btn-blue Cancel
    button.btn-flat.btn-blue Schedule

.advance-modal.modal
  .modal-title Are you sure?
  .modal-body Advancing this candidate will move them to the next stage.
  .modal-actions
    button.btn-flat.btn-blue Cancel
    button.btn-flat.btn-blue Advance

.delete-modal.modal
  .modal-title Are you sure?
  .modal-body Rejecting this candidate will remove him/her from the interview process.
  .modal-actions
    button.btn-flat.btn-blue Cancel
    button.btn-flat.btn-blue Reject
  
.note-modal.modal
  .modal-title Feedback from reviewer
  .modal-body Marked as save- need more information about his past work.  Ask if he has a portfolio?
  .modal-actions
    button.btn-flat.btn-blue Okay
    
.evaluate-modal.modal
  .modal-title Phone Interview
  .modal-section
    .modal-subtitle 
      b 1
      | Call Candidate
    span.phone-number (445) 998-2230
  .modal-section
    .modal-subtitle 
      b 2
      | Evaluation
    .eval-num
      //-input(type='range' min='0' value='0' max='10' step='1')
      span.modal-label Personality
      input(type='number' min='0' max='10', placeholder='10')
    .eval-num
      //-input(type='range' min='0' value='0' max='10' step='1')
      span.modal-label Teamwork
      input(type='number' min='0' max='10', placeholder='10')
    .eval-num
      //-input(type='range' min='0' value='0' max='10' step='1')
      span.modal-label Motivation
      input(type='number' min='0' max='10', placeholder='10')
    .eval-num
      //-input(type='range' min='0' value='0' max='10' step='1')
      span.modal-label Culture
      input(type='number' min='0' max='10', placeholder='10')
  .modal-section.right-section
    textarea(rows='1') Additional feedback on the interview
        
  .modal-actions
    button.btn-flat.btn-blue Cancel
    button.btn-flat.btn-blue Save evaluation 
      
