extend layout

block body
  body.today-bkg
    
    include ./includes/modals.jade
    
    .overlay
    .container
      include ./includes/header.jade
      
      .today.pure-g
        .pure-u-1-5
          .left-nav(data-step='2', data-intro='This sidebar groups all of the candidates by their statuses.  We can choose to view different groups by clicking on different tabs.', data-position='right')
            //-.left-search
              span.oi(data-glyph='magnifying-glass')
              input(type='text', value='Search for a candidate')
            .left-add.open-modal(data='.add-modal')
              span.oi.oi-l(data-glyph='plus')
              | Add new candidate 
            .left-title Applicants
              //- b 0
            .left-tab.tab-on(data='.view-a')
              | Unreviewed
              b 3
            .left-tab(data='.view-b')
              | Saved
              b 2
            .left-separator
            .left-title Active Candidates
              //- b 10
            .left-tab(data='.view-c')
              | Phone Interviews
              b 5
            .left-sub-tabs.view-c.tab-closed
              .left-sub-tab
                | Unscheduled
                b 3
              .left-sub-tab
                | Scheduled
                b 2
              .left-sub-tab
                | Post Interview
                b 0
            .left-tab(data='.view-d')
              | Onsite Interviews
              b 3
            .left-sub-tabs.view-d.tab-closed
              .left-sub-tab
                | Unscheduled
                b 2
              .left-sub-tab
                | Scheduled
                b 1
              .left-sub-tab
                | Post Interview
                b 0
            .left-tab(data='.view-e')
              | Offer Extended
              b 5
            .left-sub-tabs.view-e.tab-closed
              .left-sub-tab
                | Waiting
                b 1
              .left-sub-tab
                | Accepted
                b 3
              .left-sub-tab
                | Declined
                b 1
            .left-separator
            //-.left-tab(data='.view-b', data-step='3', data-intro='Active candidates are those who are in the recruitment system and still being considered.', data-position='right')
              | Active
              b 10
            .left-tab(data='.view-f', data-step='4', data-intro='Candidates who weren\'t a good fit for some reason.  These candidates are no longer considered active.', data-position='right')
              | Rejected
              b 140
            .left-tab(data='.view-g', data-step='5', data-intro='No candidate is ever removed from this app.  Instead, after a certain amount of time inactive (a month or so) the candidate is archived.  This way, candidates who re-apply will already have a bunch of useful data in the system.  We can also search for candidates who we previously interviewed/recruited.', data-position='right')
              | Archived
              b 1000
            //-.left-tab(data='.view-h', data-step='6', data-intro='Active + Rejected + Archived = All', data-position='right')
              | All
              b 1150
              
        
        .pure-u-3-5
          .content(data-step='7', data-intro='This middle section is where all of the candidates for the current tab group are listed.', data-position='bottom')
            //-.view-info.view-a
              .view-title Active candidates
              .view-desc All candidates being reviewed or interviewed in the system.
              span.oi(data-glyph='x')
            .content-header
              .header-select
                .select-box
                span.oi(data-glyph='caret-bottom')
              .header-filter All Departments
                span.oi.oi-r(data-glyph='caret-bottom')
                .header-dropdown
                  div All Departments
                    b 21
                  div Design
                    b 8
                  div Engineering
                    b 7
                  div Product
                    b 6  
              .header-filter All Positions
                span.oi.oi-r(data-glyph='caret-bottom')
                .header-dropdown
                  div All Positions
                    b 10
                  div UI Designer
                    b 5
                  div UI Developer
                    b 2
                  div Software Engineer
                    b 3  
              .header-filter Materials
                span.oi.oi-r(data-glyph='caret-bottom')
                .header-dropdown
                  div Resume
                    b 3
                  div Portfolio
                    b 2
              //-.header-filter.pull-right by first name
                span.oi.oi-r(data-glyph='caret-bottom')
                .header-dropdown
                  div first name
                  div last name
                  div position
              .header-action
                span.oi.oi-l(data-glyph='magnifying-glass')
                | Search
               .header-filter.pull-right Most recent
                span.oi.oi-r(data-glyph='caret-bottom')
                .header-dropdown
                  div Oldest first
                  div First name
                  div Last name
            .content-tasks.view-b
            .content-tasks.view-a
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Luke Dunphy
                    span.info  Software Engineer
                .task-info
                  .status Unreviewed
                  div 2 days ago
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.review-modal') Review
              .task    
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Gloria Pritchett
                    span.info Product Manager
                .task-info
                  .status Unreviewed
                  div 5 days ago
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.review-modal') Review
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Don Draper
                    span.info Sales Executive
                .task-info
                  .status Unreviewed
                  div 7 days ago
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.review-modal') Review
            .content-tasks.view-b
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Gob Bluth
                    span.info  Client Solutions
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='box')
                    | Saved
                  div 7 days ago
                .task-action
                  button.btn-flat.btn-blue.open-modal(data='.note-modal')
                    span.oi.oi-l(data-glyph='document')
                    | Feedback
                  button.btn-bkg.btn-blue.open-modal(data='.review-modal') Review again
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Jon Snow
                    span.info  UI Developer
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='box')
                    | Saved
                  div 10 days ago
                .task-action
                  button.btn-flat.btn-blue.open-modal(data='.note-modal')
                    span.oi.oi-l(data-glyph='document')
                    | Feedback
                  button.btn-bkg.btn-blue.open-modal(data='.review-modal') Review again
            .content-tasks.view-c
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Jon Snow
                    span.info  UI Developer
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='headphones')
                    | Unscheduled
                  div 3 days ago
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.schedule-modal')
                    span.oi.oi-l(data-glyph='calendar')
                    | Schedule
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Linsday Bluth
                    span.info UI Designer
                .task-arrow
                  span.oi(data-glyph='arrow-right')
                .task-body
                  .body-info
                    a.title(href='') Michael Bluth
                    span.info 1/20/2015 at 1:00 PM
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='headphones')
                    | Scheduled
                  div 5 days ago
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.schedule-modal')
                    span.oi.oi-l(data-glyph='calendar')
                    | Reschedule
            .content-tasks.view-d
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Jon Snow
                    span.info  UI Developer
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='home')
                    | Unscheduled
                  div 4 days ago
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.schedule-modal')
                    span.oi.oi-l(data-glyph='calendar')
                    | Schedule
            .content-tasks.view-e
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Jon Snow
                    span.info  UI Developer
                .task-info
                  .status
                    | Offer extended
                  div 3 days ago
                .task-action
                  button.btn-bkg.btn-blue
                    span.oi.oi-l(data-glyph='check')
                    | Accepted
                  button.btn-flat.btn-gray
                    span.oi.oi-l(data-glyph='x')
                    | Declined
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Gloria Pritchett
                    span.info  Product Manager
                .task-info
                  .status
                    | Offer extended
                  div 6 days ago
                .task-action
                  button.btn-flat.btn-green
                    span.oi.oi-l(data-glyph='check')
                    | Accepted
            .content-tasks.view-f
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Jon Snow
                    span.info  UI Developer
                .task-info
                  .status
                    | Rejected
                  div 16 days ago
                .task-action
                  button.btn-flat.btn-blue.open-modal(data='.note-modal')
                    span.oi.oi-l(data-glyph='document')
                    | Feedback
          
        .pure-u-1-5
          .right-info(data-step='8', data-intro='This is the right column for god knows what.  Maybe activity...', data-position='left')
            //-.right-block.today-block
              span.time 3:00 PM PST 
              span.date Monday, January 5th
            include ./includes/activity.jade
