extend layout

block body
  body.process-bkg

  include ./includes/modals.jade

  .overlay
  .container
    include ./includes/header.jade

    .process.pure-g
      .pure-u-1-5(data-step='2', data-intro='All new candidates.  You can choose to filter by status.', data-position='right')
        .column-header
          a New Candidates
            b 4
        .column-sub-header
          .column-header-filter All
            span.oi(data-glyph='caret-bottom')
          .column-dropdown
            div All
              b 4
            div Unreviewed
              b 3
            div Saved
              b 1
          .column-header-filter.pull-right Sort by
            span.oi(data-glyph='caret-bottom')
      .pure-u-1-5(data-step='4', data-intro='Candidates in the phone interview stage.  Can filter by status (unscheduled, scheduled, post interview)', data-position='right')
        .column-header
          a Phone Interviews
            b 4
        .column-sub-header
          .column-header-filter All
            span.oi(data-glyph='caret-bottom')
          .column-dropdown
            div All
              b 4
            div Post Interview
              b 1
            div Scheduled
              b 2
            div Unscheduled
              b 3
          .column-header-filter.pull-right Sort by
            span.oi(data-glyph='caret-bottom')
      .pure-u-1-5(data-step='5', data-intro='Candidates in the onsite interview stage.', data-position='left')
        .column-header
          a Onsite Interviews
            b 1
        .column-sub-header
          .column-header-filter All
            span.oi(data-glyph='caret-bottom')
          .column-dropdown
            div All
              b 1
            div Post Interview
              b 0
            div Scheduled
              b 1
            div Unscheduled
              b 0
          .column-header-filter.pull-right Sort by
            span.oi(data-glyph='caret-bottom')
      .pure-u-1-5(data-step='6', data-intro='Candidates to which an offer has been extended to.', data-position='left')
        .column-header
          a Offer Extended
            b 0
        .column-sub-header
          .column-header-filter All
            span.oi(data-glyph='caret-bottom')
          .column-dropdown
            div All
              b 0
            div Accepted
              b 0
            div Declined
              b 0
            div Waiting
              b 0
          .column-header-filter.pull-right Sort by
            span.oi(data-glyph='caret-bottom')
      .pure-u-1-5
        .column-header.search-header(data-step='7', data-intro='Quickly search for any active candidate, and it will pull up their candidate "card".', data-position='left')
          span.oi(data-glyph='magnifying-glass')
          input(type='text', value='Search for a candidate')
        .column-sub-header
          .column-header-filter.pull-right Sort by
            span.oi(data-glyph='caret-bottom')
          .column-dropdown
            div First
            div Last
            div Date
            div Position

      //- Candidates
      .pure-u-1-5
        .column.candidates-column
          .card(data-step='3', data-intro='Clicking on Luke\'s card will reveal quick actions.  Not all of the actions are applicable, however.  Either need different actions or need to rethink the purpose of this view.', data-position='right')
            .card-contact
              .card-name Luke Dunphy
              .card-pos Advertising
            .additional-info
              //-span.oi(data-glyph='eye')
              div
                span.date-ago-review.open-modal(data='.review-modal') Review
                span.date-ago 1 week ago
          .card
            .card-contact
              .card-name Gloria Pritchett
              .card-pos Engineer
            .additional-info
              //-span.oi(data-glyph='eye')
              div
                span.date-ago-review.open-modal(data='.review-modal') Review
                span.date-ago 3 days ago
          .card
            .card-contact
              .card-name Gob Bluth
              .card-pos Management
            .additional-info
              //-span.oi(data-glyph='eye')
              div
                span.date-ago-review.open-modal(data='.review-modal') Review
                span.date-ago 2 days ago
          .card
            .card-contact
              .card-name Tobias Funke
              .card-pos Analyst
            .additional-info
              span.oi(data-glyph='box')
              div.reviewed
                span.date-subtext Saved
                span.date-ago 10 days ago

          .add-card.open-modal(data='.add-modal')
            span.oi(data-glyph='plus')
            | Add a new candidate
            
          //-.add-card
            span.oi(data-glyph='data-transfer-upload')
            | Upload from CSV
      
      //- Phone
      .pure-u-1-5
        .column.phone-column
          .card
            .card-contact
              .card-name Don Draper
              .card-pos Engineer
            .upcoming-event
              span.oi(data-glyph='headphones')
              div
                span.date-subtext Jan. 20th
                span.date In 1 hour
          .card
            .card-contact
              .card-name Peggy Olson
              .card-pos Designer
            .upcoming-event
              span.oi(data-glyph='headphones')
              div
                span.date-subtext Jan. 20th
                span.date In 4 hours
          .card
            .card-contact
              .card-name Pete Campbell
              .card-pos Engineer
            .upcoming-event
              div
                span.schedule.open-modal(data='.schedule-modal') Schedule
          .card
            .card-contact
              .card-name Jon Snow
              .card-pos Engineer
            .upcoming-event
              span.oi(data-glyph='headphones')
              div
                span.date-subtext Jan. 20th
                span.date-ago 5 days ago
                
      //- Onsite
      .pure-u-1-5
        .column.onsite-column
          .card
            .card-contact
              .card-name Lindsay Bluth
              .card-pos Designer
            .upcoming-event
              span.oi(data-glyph='home')
              div
                span.date-subtext Jan. 20th
                span.date In 2 hours
                
      //- Offer
      .pure-u-1-5
        .column.onsite-column
            
      //- Search
      .pure-u-1-5
        .column.search-column
          | Search for any candidate in the recruiting system by name
