extend layout

block body
  body
    div.top-bar
      div.inner-section
        div.logo Gaptrap
    div.section-1
      div.section-background
        div.inner-section
          div.header
            //- Protect the gap.
            | Solve a timeless problem with $5.
            //- $5 solution to a problem you never knew you had.
            //- 
          div.sub-header
            | Stop your gadgets from falling under your bed.
          div.subscribe
            input(type="text", placeholder="Your email address")
            input(type="submit", value="Keep me updated")
          div.diagram
            
    div.section-2
      div.inner-section
        div.header
          | What is Gaptrap?
        div.sub-header
          | Gaptrap is a thin, fabric cover that spans the gap from your bed frame to your wall.  It prevents your phone, book, or TV remote from falling through the gap and becoming damaged.
        div.diagram
    
    div.section-3
      div.section-background
        div.inner-section
          div.header Be the first to know when Gaptrap is available.
          div.subscribe
            input(type="text", placeholder="Your email address")
            input(type="submit", value="Keep me updated")
    div.section-4
      
