extend layout

block body
  body.today-bkg
    
    include ./includes/modals.jade
    
    .overlay
    .container
      include ./includes/header.jade
      
      .today.pure-g
        .pure-u-1-5
          .left-nav(data-step='2', data-intro='These are the common tasks that the interviewer must complete.  First, reviewing new candidates, and choosing to either advance, reject, or save each application.  Second, upcoming interviews that the interviewer has.  Third, post-interview decisions that the interviewer must make (i.e. further advancement, offer, or rejection).', data-position='right')
            .left-filler
            .left-title My Tasks
            .left-tab.tab-on(data='.view-a')
              | Manage Applicants
              b 4
            .left-sub-tabs.view-a
              .left-sub-tab
                | Unreviewed
                b 3
              .left-sub-tab(data-step='3', data-intro='Why saving?  If an interviewer reviews a new candidate, and can\'t immediately make a decision, but still wants to keep them in the process, they can choose to save that candidate.  Also useful if more information is required, or you\'re unsure if you will have room for additional employees/interns.', data-position='right')
                | Saved
                b 1
            .left-tab(data='.view-b')
              | Interviews
              b 3
            .left-sub-tabs.tab-closed.view-b
              .left-sub-tab
                | Phone Interviews
                b 2
              .left-sub-tab
                | Onsite Interviews
                b 1
            .left-tab(data='.view-c')
              | Decisions
              b 1
            .left-sub-tabs.tab-closed.view-c
              .left-sub-tab
                | Phone Decision
                b 1
              .left-sub-tab
                | Onsite Decision
                b 0
        
        .pure-u-3-5
          .content(data-step='4', data-intro='The list of new candidates to be managed.  Personal info on the left, recruitment info on the right, action item in blue.', data-position='bottom')
            .content-header
              .header-select
                .select-box
                span.oi(data-glyph='caret-bottom')
              .header-filter Materials
                span.oi.oi-r(data-glyph='caret-bottom')
                .header-dropdown
                  div 
                    //-span.oi.oi-l(data-glyph='check')
                    | Resume
                    b 3
                  div
                    //-span.oi.oi-l(data-glyph='check')
                    | Portfolio
                    b 2
              .header-action
                span.oi.oi-l(data-glyph='magnifying-glass')
                | Search
              .header-filter.pull-right Most recent
                span.oi.oi-r(data-glyph='caret-bottom')
                .header-dropdown
                  div Oldest first
                  div First name
                  div Last name
            .content-tasks.view-a
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Luke Dunphy
                    span.info  Software Engineer
                .task-info
                  .status
                    | Unreviewed
                  div 2 days ago
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.review-modal') Review
                  //-button.btn-flat.btn-delete.open-modal(data='.delete-modal')
                    span.oi(data-glyph='x')
                    | Reject
              .task    
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Gloria Pritchett
                    span.info  Product Manager
                .task-info
                  .status
                    | Unreviewed
                  div 5 days ago
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.review-modal') Review
                  //-button.btn-flat.btn-delete.open-modal(data='.delete-modal')
                    span.oi(data-glyph='x')
                    | Reject
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Gob Bluth
                    span.info  Client Solutions
                .task-info
                  .status
                    | Unreviewed
                  div 7 days ago
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.review-modal') Review
                  //-button.btn-flat.btn-delete.open-modal(data='.delete-modal')
                    span.oi(data-glyph='x')
                    | Reject
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Tobias Funke
                    span.info  Data Wranger
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='box')
                    | Saved
                  div 10 days ago
                .task-action
                  button.btn-flat.btn-blue.open-modal(data='.note-modal')
                    span.oi.oi-l(data-glyph='document')
                    | Feedback
                  button.btn-bkg.btn-blue.open-modal(data='.review-modal') Review again
                  //-button.btn-flat.btn-delete.open-modal(data='.delete-modal')
                    span.oi(data-glyph='x')
                    | Reject
            .content-tasks.view-b
              .task
                .task-type
                  .task-icon
                    span.oi.oi-blue-circle(data-glyph='headphones')
                  .task-time
                    span.absolute 12:00 PM
                    span.relative In 1 hour
                .task-arrow
                  span.oi(data-glyph='arrow-right')
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Jon Snow
                    span.info UI Developer
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.evaluate-modal') Start Interview
              .task
                .task-type
                  .task-icon
                    span.oi.oi-green-circle(data-glyph='home')
                  .task-time
                    span.absolute 1:00 PM
                    span.relative In 2 hours
                .task-arrow
                  span.oi(data-glyph='arrow-right')
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Lindsay Bluth
                    span.info UI Designer
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.evaluate-modal') Start Interview
              .task
                .task-type
                  .task-icon
                    span.oi.oi-blue-circle(data-glyph='headphones')
                  .task-time
                    span.absolute 3:00 PM
                    span.relative In 4 hours
                .task-arrow
                  span.oi(data-glyph='arrow-right')
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Peggy Olson
                    span.info Data Solutions
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.evaluate-modal') Start Interview
                            
            .content-tasks.view-c
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Jon Snow
                    span.info UI Developer
                .task-eval
                  .eval
                    .eval-score 10
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='headphones')
                    | Post Interview
                  div 3 days ago 
                .task-action
                  button.btn-flat.btn-blue
                    span.oi.oi-l(data-glyph='document')
                    | Evaluation
                  button.btn-bkg.btn-blue
                    | Decision
                    span.oi.oi-r(data-glyph='caret-bottom')
                  //-button.btn-flat.btn-delete.open-modal(data='.delete-modal')
                    span.oi(data-glyph='x')
                    | Reject
          
        .pure-u-1-5
          .right-info(data-step='5', data-intro='Not sure how useful this sidebar is because it is almost a duplicate of the "My Interviews" tab.  Might place recent activity here instead.', data-position='left')
            //-.right-block.today-block
              span.time 11:00 AM PST 
              span.date Monday, January 20th
            //-.right-block
              .block-title Today
              .flow
                .event.current-event
                  .date 12:00 PM
                  .title Phone Interview with Jon Snow
                .path
                .event
                  .date 1:00 PM
                  .title Phone Interview with Lindsay Bluth
                .path
                .event
                  .date 3:00 PM
                  .title Onsite Interview with Peggy Olson
            include ./includes/activity.jade
