extend layout

block body
  body.today-bkg
    
    include ./includes/modals.jade
    
    .overlay
    .container
      include ./includes/header.jade
      
      .today.pure-g
        .pure-u-1-5
          .left-nav(data-step='2', data-intro='These are the common tasks that the HR manager must complete.  First, notifying candidates of changes in their recruitment status (i.e. We need more information before we can proceed, rejection notification, offer update).  Second, manage interview scheduling.', data-position='right')
            //-.left-search
              span.oi(data-glyph='magnifying-glass')
              input(type='text', value='Search for a candidate')
            .left-add.open-modal(data='.add-modal')
              span.oi.oi-l(data-glyph='plus')
              | Add new candidate 
            .left-title My Tasks
            .left-tab.tab-on(data='.view-a')
              | Notify Candidates
              b 3
            .left-sub-tabs.view-a
              .left-sub-tab
                | Advanced to Phone
                b 0
              .left-sub-tab
                | Advanced to Onsite
                b 0
              .left-sub-tab
                | Offer Extended
                b 1
              .left-sub-tab
                | Saved
                b 1
              .left-sub-tab
                | Rejected
                b 1
            .left-tab(data='.view-b')
              | Manage Phone Interviews
              b 1
            .left-sub-tabs.tab-closed.view-b
              .left-sub-tab
                | Unscheduled
                b 1
              .left-sub-tab
                | Scheduled
                b 0
            .left-tab(data='.view-c')
              | Manage Onsite Interviews
              b 1
            .left-sub-tabs.tab-closed.view-c
              .left-sub-tab
                | Unscheduled
                b 1
              .left-sub-tab
                | Scheduled
                b 0
            .left-tab(data='.view-d')
              | Update Offers
              b 1
              
        
        .pure-u-3-5
          .content(data-step='3', data-intro='Here is the list of candidates that need to be notified because of some status update.  Luke\'s application has been saved by the reviewer... the feedback attached will probably explain that more information is needed.  Gloria\'s application also has feedback, but she was rejected.  Gob has an offer extended to him, and you have to notify him via email.  Once you have notified the candidate, you click the "Notified" button, and the task is completed.', data-position='bottom')
            .content-header
              .header-select
                .select-box
                span.oi(data-glyph='caret-bottom')
              .header-filter All Departments
                span.oi.oi-r(data-glyph='caret-bottom')
                .header-dropdown
                  div All Departments
                    b 21
                  div Design
                    b 8
                  div Engineering
                    b 7
                  div Product
                    b 6
              .header-filter All Positions
                span.oi.oi-r(data-glyph='caret-bottom')
                .header-dropdown
                  div All Positions
                    b 10
                  div Designer
                    b 5
                  div Engineer
                    b 2
                  div Tester
                    b 3  
              .header-filter Materials
                span.oi.oi-r(data-glyph='caret-bottom')
                .header-dropdown
                  div Resume
                    b 3
                  div Portfolio
                    b 2
              .header-action
                span.oi.oi-l(data-glyph='magnifying-glass')
                | Search
              .header-filter.pull-right Most recent
                span.oi.oi-r(data-glyph='caret-bottom')
                .header-dropdown
                  div Oldest first
                  div First name
                  div Last name
            .content-tasks.view-a
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Luke Dunphy
                    span.info  Software Engineering
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='box')
                    | Saved
                  div 2 days ago
                .task-action
                  button.btn-flat.btn-blue.open-modal(data='.note-modal')
                    span.oi.oi-l(data-glyph='document')
                    | Feedback
                  button.btn-bkg.btn-blue Notified
              .task    
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Gloria Pritchett
                    span.info  Product Manager
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='x')
                    | Rejected
                  div 5 days ago
                .task-action
                  button.btn-flat.btn-blue.open-modal(data='.note-modal')
                    span.oi.oi-l(data-glyph='document')
                    | Feedback
                  button.btn-bkg.btn-blue Notified
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Gob Bluth
                    span.info Client Solutions
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='check')
                    | Offer extended
                  div 7 days ago
                .task-action
                  button.btn-bkg.btn-blue Notified
            .content-tasks.view-b 
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Jon Snow
                    span.info UI Developer
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='headphones')
                    | Unscheduled
                  div 4 days ago
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.schedule-modal')
                    span.oi.oi-l(data-glyph='calendar')
                    | Schedule
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Linsday Bluth
                    span.info UI Designer
                .task-arrow
                  span.oi(data-glyph='arrow-right')
                .task-body
                  //-.body-icon
                  .body-info
                    a.title(href='') Michael Bluth
                    span.info 1/20/2015 at 1:00 PM
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='headphones')
                    | Scheduled
                  div 5 days ago
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.schedule-modal')
                    span.oi.oi-l(data-glyph='calendar')
                    | Reschedule
            .content-tasks.view-c
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Don Draper
                    span.info Sales Executive
                .task-info
                  .status
                    span.oi.oi-l(data-glyph='home')
                    | Unscheduled
                  div 3 days ago
                .task-action
                  button.btn-bkg.btn-blue.open-modal(data='.schedule-modal')
                    span.oi.oi-l(data-glyph='calendar')
                    | Schedule
            .content-tasks.view-d
              .task
                .task-body
                  .body-icon
                  .body-info
                    a.title(href='/candidate') Jon Snow
                    span.info  UI Developer
                .task-info
                  .status
                    | Offer extended
                  div 3 days ago
                .task-action
                  button.btn-bkg.btn-blue
                    span.oi.oi-l(data-glyph='check')
                    | Accepted
                  button.btn-flat.btn-gray
                    span.oi.oi-l(data-glyph='x')
                    | Declined
          
        .pure-u-1-5
          .right-info
            //-.right-block.today-block
              span.time 3:00 PM PST 
              span.date Monday, January 5th
            include ./includes/activity.jade
