button {
  background: none;
  @include border-radius(4px);
  border: none;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 20px;

  &:focus {
    outline: none;
  }
}

.btn-flat.btn-blue {
  color: palette(Blue, $shade: 600);

  &:hover {
    color: palette(Blue, $shade: 800);
  }
}

.btn-flat.btn-red {
  color: palette(Red, $shade: 600);

  &:hover {
    background: palette(Red, $shade: 50);
    color: palette(Red, $shade: 800);
  }
}

.btn-flat.btn-green {
  color: palette(Teal, $shade: 400);

  // &:hover {
  //   background: palette(Teal, $shade: 50);
  //   color: palette(Teal, $shade: 600);
  // }
}

.btn-flat.btn-gray {
  color: #999;

  &:hover {
    background: rgba(0, 0, 0, 0.08);
    color: #666;
  }
}

.btn-bkg.btn-gray {
  background: #eee;
  color: #777;

  &:hover {
    background: #ddd;
    color: #444;
  }
}

.btn-bkg.btn-blue {
  background: palette(Blue, $shade: 600);
  color: palette(Blue, $shade: 50);

  &:hover {
    background: palette(Blue, $shade: 700);
    color: palette(Blue, $shade: 50);
  }
}

.btn-bkg.btn-red {
  background: palette(Red, $shade: 600);
  color: palette(Red, $shade: 50);

  &:hover {
    background: palette(Red, $shade: 700);
    color: palette(Red, $shade: 50);
  }
}

.btn-bkg.btn-green {
  background: palette(Teal, $shade: 400);
  color: palette(Teal, $shade: 50);

  &:hover {
    background: palette(Teal, $shade: 500);
    color: palette(Teal, $shade: 50);
  }
}
