input[type=range] {
  -webkit-appearance: none !important;
  background: #eee;
  @include border-radius(100px);
  cursor: pointer;
  height: 4px;

  &:focus {
    outline: none;
  }
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: palette(Blue, $shade: 500);
  @include border-radius(100px);
  height: 16px;
  width: 16px;
}
